<div id="<%= dom_id quote %>">

      <tr>
        <td width="80%">
          <%= link_to quote.text, quote %>
        </td>
        <td>
          <%= link_to quote.achiever.name, quote.achiever %></td>

      </td>

    </tr>

</div>
