<h1>New quote</h1>

<%= render "form", quote: @quote, achievers: @achievers %>

<br>

<div>
  <%= link_to "Back to quotes", quotes_path, class:'btn btn-light', style:'margin-top:1%; margin-bottom: 1%' %>&nbsp
</div>
