<h1>Editing achiever</h1>

<%= render "form", achiever: @achiever %>

<br>

<div>
  <%= link_to "Show this achiever", @achiever, class:'btn btn-light', style:'margin-top:1%; margin-bottom: 1%' %>&nbsp

  <%= link_to "Back to achievers", achievers_path, class:'btn btn-light', style:'margin-top:1%; margin-bottom: 1%' %>&nbsp
</div>
