<h1>New achiever</h1>

<%= render "form", achiever: @achiever %>

<br>

<div>
  <%= link_to "Back to achievers", achievers_path, class:'btn btn-light', style:'margin-top:1%; margin-bottom: 1%' %>
</div>
