<div id="<%= dom_id achiever_book_recommendation %>">
  <p>
    <strong>Achiever:</strong>
    <%= achiever_book_recommendation.achiever_id %>
  </p>

  <p>
    <strong>Book recommendation:</strong>
    <%= achiever_book_recommendation.book_recommendation_id %>
  </p>

</div>
