<h1>Editing achiever book recommendation</h1>

<%= render "form", achiever_book_recommendation: @achiever_book_recommendation %>

<br>

<div>
  <%= link_to "Show this achiever book recommendation", @achiever_book_recommendation, class:'btn btn-light', style:'margin-top:1%; margin-bottom: 1%' %>&nbsp

  <%= link_to "Back to achiever book recommendations", achiever_book_recommendations_path, class:'btn btn-light', style:'margin-top:1%; margin-bottom: 1%' %>&nbsp
</div>
