<div id="<%= dom_id achiever_habit %>">
  <p>
    <strong>Achiever:</strong>
    <%= achiever_habit.achiever_id %>
  </p>

  <p>
    <strong>Habit:</strong>
    <%= achiever_habit.habit_id %>
  </p>

</div>
