<h1>Adding achiever to the habit</h1>

<%= render "form", achiever_habit: @achiever_habit %>

<br>

<div>
  <%= link_to "Back to habits", habits_path, class:'btn btn-light', style:'margin-top:1%; margin-bottom: 1%' %>&nbsp
</div>
