<h1>Editing book recommendation</h1>

<%= render "form_edit", book_recommendation: @book_recommendation %>

<br>

<div>
  <%= link_to "Show this book recommendation", @book_recommendation, class:'btn btn-light', style:'margin-top:1%; margin-bottom: 1%' %>&nbsp

  <%= link_to "Back to book recommendations", book_recommendations_path, class:'btn btn-light', style:'margin-top:1%; margin-bottom: 1%' %>&nbsp

</div>
