<h1>New book recommendation</h1>

<%= render "form_new", book_recommendation: @book_recommendation %>

<br>

<div>
    <%= link_to "Back to book recommendations", book_recommendations_path, class:'btn btn-light', style:'margin-top:1%; margin-bottom: 1%' %>&nbsp
</div>
