<h1>Editing habit</h1>

<%= render "form_edit", habit: @habit %>

<br>

<div>
  <%= link_to "Show this habit", @habit, class:'btn btn-light', style:'margin-top:1%; margin-bottom: 1%' %>&nbsp

  <%= link_to "Back to habits", habits_path, class:'btn btn-light', style:'margin-top:1%; margin-bottom: 1%' %>&nbsp
</div>
